body {
    background-color: rgba(52.000000700354576, 29.000000171363354, 39.00000147521496, 1);
    font-family: Roboto Slab;
    font-style: normal;
}

.no-border {
    border: 0 !important;
}

.container {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.pageTitleImage {
    background-image: url(../images/round_full.png);
    background-size: 500px !important;
    width: 500px;
    height: 74px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.pageTitleText {
    position: absolute;
    padding-top: 6px;
    font-family: 'Changa', sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px #5d320b;
    color: white;
    z-index: 2;
}

.energyCount {
    width: 480px;
    height: 320px;
    background: #F2F7FB;
}

.energyTitle {
    padding-top: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #462D17;
}

.energyCountNumber {
    margin-left: -30px;
    padding-top: 15px;
    font-family: 'Changa', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    line-height: 79px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #782e38;
    z-index: 2;
}

.backgroundEnergy {
    top: 214px;
    position: absolute;
    background-image: url(../images/energy.png);
    background-size: 100px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.roundCountName {
    font-size: 30px;
}

.btnNext:hover {
    background-color: #28a745 !important;
}

.btnNext {
    width: 180px !important;
    height: 83px !important;
    background: #014E42 !important;
    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
    /* identical to box height */
    color: #FFFFFF;
}

.btnReset {
    width: 180px;
    height: 83px;
    background: #7B1727;
    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
    /* identical to box height */
    color: #FFFFFF;
}

.btnUnaryOperator {
    width: 70px;
    height: 70px;
    background: #CAD942;
    font-family: 'Changa', sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 59px;
    color: #000000;
}


/* .energyHistory {
    width: 300px;
    height: 638px;
    left: 801px;
    top: 35px;
    background: #77451E;
} */